@model WebApp.ViewModels.Discussions.EditVM

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1>Edit Discussion</h1>
            <br /><br />
            <form method="post" action="@Url.Action("Edit", "Discussions")" enctype="multipart/form-data" style="max-width: 40rem;">
                <!-- Title -->
                <div class="form-group d-flex justify-content-between align-items-center">
                    <label for="Title" class="ml-3 text-white">Title</label>
                    <input type="text" class="form-control bg-dark text-white border-dark w-75" id="Title" name="Title" placeholder="Discussion Title" value="@Model.Discussion.Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                    @if (Model.UniqueTitleError ?? false)
                    {
                        <p class="text-danger">*Title must be unique!</p>
                    }
                </div>
                <br />

                <!-- Discussion Text -->
                <div class="form-group">
                    <label for="Text" class="text-white">Discussion Text</label>
                    <textarea class="form-control bg-dark text-white border-dark" id="Text" name="Text" rows="5" placeholder="Discussion Text" >@Model.Discussion.Text</textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <br />

                <!-- Discussion Image -->
                <div class="form-group d-flex justify-content-between align-items-center">
                    <label for="ImageUpload" class="text-white">Upload Image</label>
                    <input type="file" class="form-control-file bg-dark text-white border-dark" accept="image/*" id="ImageUpload" name="Image">
                </div>
                <br />

                <input type="hidden" name="IsUpdated" value="@Model.IsUpdated)" />

                <input type="hidden" name="TopicsSerialized" value="@System.Text.Json.JsonSerializer.Serialize(Model.Topics)" />
                <!-- Topics Selection -->
                <div class="form-group">
                    <label for="topics">Select Topics</label>
                    <select id="topics" name="SelectedTopicIds" class="form-control" multiple="multiple" size="5">
                        @foreach (var topic in Model.Topics)
                        {
                            @* <option value="@topic.Id">@topic.Name</option> *@

                            if (Model.InitiallySelectedTopicIds.Contains((int)topic.Id))
                            {
                                <option value="@topic.Id" selected>@topic.Name</option>
                            }
                            else
                            {
                                <option value="@topic.Id">@topic.Name</option>
                            }
                            
                            
                        }
                    </select>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-dark w-100">Submit</button>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>